
body {
	font-family: Zapfino, Tahoma, Verdana;

}

*:focus {
	outline: none;
}
h1 {
	font-size: 1.5em;
	line-height: 4em;
	font-weight: bold;
	
}

button {
	border-radius: 100%;
	background-color: white;
	font-weight: bold;
	font-size: 1em;
	text-transform: uppercase;
	border: 1px solid black;
	color: black;
	padding: 3px 5px;
}

#add {
	padding: 7px 10px;
}

 #add, #delete {
 	
 	float: right;


 }

button:hover {
	box-shadow: 1px 1px rgb(173, 173, 173);
	cursor: pointer; cursor: hand;
	border: 1px solid #BB3131;
	background-color: rgb(151, 202, 86);

}
#conatainer {
	position: relative;
}

#frog {
	display: inline-block;
	vertical-align: text-top;
	width: 40%;
}
.main {
	width: 40%;
	display:inline-block;
	vertical-align: text-top;
	background: linear-gradient(white, rgb(240, 240, 240));
	position: relative;
	padding: 20px;
}
#write_item {
	font-size: 1.3em;
	line-height: 1.4em;
	margin-left: 12%;
	width:67%;
	text-indent: 5px;
	font-family: verdana;
	font-weight: lighter;
	border: 1px solid black;
	border-radius: 2px;
	}

#write_item:focus {
	border: 1px solid #BB3131;
}

ul {
	margin-top: 20px;
}

li {
	text-indent: 15%;
	line-height: 3.2em;
	text-transform: capitalize;

}
#Select_All {

	float: left;
	margin-left: 12%;
	margin-top: 15px;
	border-radius: 20px;
	font-weight: bold;
}

#undo {
	display:block;
	clear:both;
	border-radius: 20px;
	font-size: .75em;
	padding: 3px 5px;
	position:relative;
	top: 10px;
	margin: auto;
}

.strike {
	text-decoration: line-through;
}
#edits {
	margin-top: 20px;
	

}
/* Large Screens */
@media only screen and (min-width: 801px) {

h1 {
	text-align: left;
	text-indent: 10%;
	}
}

/* Small Screens */
@media only screen and (max-width: 800px) {
#frog {
	margin: auto;
	display:block;
	}
.main {
	display: block;
	margin: auto;
	width: 90%;
	overflow: auto;
	}
h1 {
	text-align: center;
	}

}
	